@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Gentium Book Plus", serif;
}

#dialog {
    position: relative;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    height: 460px;
    margin-top: -200px;
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    padding: 20px;
    & h1 {
        font-family: 'League Spartan';
    }
    & div {
        margin-top: 20px;
    }
    & select {
        padding: 6px;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.262);
        outline: none;
    }
}

#book-form {
    display: grid;
    grid-template-columns: 14% 80%;
    gap: 20px;
    & input {
        padding: 6px;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.262);
        outline: none;
    }
}

.button {
    width: 100px;
    padding: 7px;
    font-size: 12pt;
    border-radius: 50px;
    border: 1px rgba(0, 0, 0, 0.314) solid;
    background-color: white;
    color: black;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

header {
    padding: 20px;
    width: 100vw;
    height: 200px;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.444);
    gap: 10px;
}

.logo {
    width: 5vw;
}

.header-text {
    font-size: 12pt;
}

#add-book {
    width: 150px;
    padding: 7px;
    font-size: 12pt;
    border-radius: 50px;
    border: 1px rgba(0, 0, 0, 0.314) solid;
    background-color: white;
    color: black;
    cursor: pointer;
}

#add-book:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

.library-wrapper {
    padding: 200px 5vw 0px 5vw;
    width: 100vw;
    margin: 0 auto;
    background-color: #c9c9c5;
    min-height: 100vh;
}

.text {
    padding: 20px;
    font-family: 'League Spartan';
    font-size: 18pt;
    font-weight: 550;
}

.library {
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.book {
    border: 1px solid black;
}